 body {
	padding: 2em;
}

.panel-group .list-group {
	margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
	border-bottom: none;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
#sortByForm{
	background-color: #f5f5f5;
	height: 30px;
	padding-left: 10px;
	background-color: rgb(70, 82, 145);
	border-radius: 2px;
	color: white;
}
.sort-by-label{
	line-height: 29px;
	font-weight: bold;
}
.mainCtr{
	background-color: white;
	height: 200px;
	box-shadow: 4px 4px 4px #888888;
	margin-bottom: 10px;
}
.mainCtr img{
	float: left;
	margin-right: 20px;
	height: 200px;
	width: 200px;
	position: relative;
}
.rating {
	background-image: url("../bootstrap/img/rating_stars.png");
	background-repeat: no-repeat;
	height: 20px;
	width: 97px;
	margin-top: 10px;
	position: absolute;
}
.star-0{
	background-position: -151px -30px;
}.star-1{
	background-position: -151px -74px;
}.star-2{                    
	background-position: -151px -118px;
}.star-3{                   
	background-position: -151px -162px;
}.star-4{                    
	background-position: -151px -207px;
}.star-5{                    
	background-position: -151px -251px;
}
.details{
	height: 100px;
	Width: 135px;
	float: right;
}
.details p{
	width: 125px;
	text-align: right;
	margin-bottom: -3px;
}
.more-details{
	width: 50%;
	height: 120px;
	float: left;
}
p{
	margin-bottom: 0px;
}
body{
	background-color: whitesmoke;
}
.pagingCtr{
	display: inline-block;
	width: 100%;
}
#Pagination{
	float:right;
	margin: 0px;
}
.filter-title{
	background-color: rgb(70, 82, 145);
	color: white;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 5px;
	border-radius: 4px;
	margin-bottom: 16px;
}
#accordion{
	
}
#accordion h4{
	line-height: 36px;
	padding-left: 4px;
	color: white;
}
#accordion a{
	color: white;
	width: 100%;
}
#accordion > div{
	background-color: rgb(70, 82, 145);
	margin-top: -8px;
}
.left-body{
	padding-left: 4px;
}
#collapseThree div{
	text-align: center;
	margin-bottom: 8px;
}
.nameFilter{
	text-align: right;
	padding: 4px;
}
.radio label{
	color: white;
}
.active-sort{
	background-color: rgb(70, 82, 145);
	height: 3px;
}